@import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

body {
	margin-top: 50px !important;
}

 #mainNav {
 	background: black;}

 .main-hr {
 	border-color:#83E8E3;
 }

 .about {background-color: #eedfcc;
 	}
 .section-heading {color: black;}
