
 @import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';


 #mainNav {
 	background: black;}

 .main-hr {
 	border-color:#83E8E3;
 }

 .about {background-color: #eedfcc;
 	}
 .section-heading {color: black;}
