	<br>
	<br>
	<br>
			<table class="table">
				<table class="table table-bordered">
					

					<col width="40">
					<col width="*">
					<col width="116">
					<col width="86">
					<col width="100">
					<col width="160">
					<col width="100">
				</colgroup>
				<thead>
					<tr>
						<th>
							<label class="ch_label on" for="check_cart_all">
								<input type="checkbox" name="checkboxAll" id="check_cart_all" checked="checked">
								<span></span>
							</label>
						</th>
						<th>상품명</th>
						<th>배송종류</th>
						<th>배송비</th>
						<th>가격</th>
						<th>수량</th>
						<th>주문금액</th>
					</tr>
				</thead>

				<tbody>
						<tr height="200">
							<td colspan="7">장바구니에 담긴 상품이 없습니다.</td>
						</tr>
				</tbody>
			</table>
		
		<div class="amount_info_box">
			<div class="inbox">
				<div class="amount_info amount_info1"><em>0</em><span>원</span></div>
				<div class="amount_info amount_info2"><em>0</em><span>원</span></div>
				<div class="amount_info amount_info3"><em>0</em><span>원</span></div>
			</div>
		</div>
	
<p>
  <button type="button" class="btn btn-primary btn-lg">예약배송</button>
  <button type="button" class="btn btn-default btn-lg">주문하기</button>
</p>




