<h2>Listing posts</h2>

  <div class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th colspan = "4"></th>
      </tr>
     </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.picture), product %></td>
        <div class='name'><%= product.name %></div><br>
        <div class='description'><%= product.description %></div><br>   
      </div>
    <% end %>
  </tbody>


<%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>